main {
    display: flex;
    height:100vh;  
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
 }

 a:hover{
    font-weight: 600;
    text-decoration: underline;
}

 main section:first-child {
     width: 50%;
     background-image: url('../images/nicole.jpg');
     background-size: cover;
     min-height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }
 
 main section:first-child h1, main section:first-child h2, main section:first-child p, main section:first-child a {
     color: white;
 }
 main section:first-child header {
    display: flex;
    align-items: flex-start; 
    background-image: url(../images/logo_ecole89.jpg);
    background-repeat: no-repeat;
    background-size: 80px ;
    background-position:left;
}

main section:first-child header h1 {
    margin: 0 0 0 20px;
    font-weight: 400;
    text-decoration: underline rgb(43, 76, 242) 1px;
    margin-left: 8rem;

}

/* main section:first-child header img {
    width: 50px;
    height: 50px;
    margin: auto;
} */
 
 main section:first-child div{
     display: flex;
     flex-direction: column;
     background-color: rgba(0, 0, 0, 0.489);
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center; 
     padding: 1rem;
     margin: 1rem;
 }
 main section:first-child div h2, main section:first-child div p {
     align-self: flex-end;
     text-align: end;
     font-weight: 400;
 }
 
 main section:first-child div h2{
 font-size: 26px;
 }
 
 main section:first-child div h2 b{
     font-weight: 400;
     font-style: italic;
     font-size: 20px;
 }
 
 main section:first-child footer {
     align-self: flex-end; 
     justify-self: flex-end; 
 }
 
 main section:first-child footer a{
     margin: 0.5rem;
     text-shadow: 1px 1px 2px black;
 }
 
 main section:last-child {
    background-color:#f9f9f9;
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
 }

 main section:last-child h1 {
    font-weight: 900;
    font-size: 50px;
 }

 main section:last-child label, main section:last-child textarea, main section:last-child input, main section:last-child button{
    margin: 0.5rem 0;
 }
 main section:last-child textarea, main section:last-child input {
    border-radius: 0.4rem;
    border: 1px solid #eaeaea;;
 }

 main section:last-child button{
    background-color: #0766F0;
    border: none;
    border-radius: 0.3rem;
    color: white;
    width: 10rem;
    padding: 0.6rem 0.4rem;
 }

 main section:last-child button:hover {
    text-decoration: underline;
    font-weight: 600;
    width: 12rem ;
 }
